*,::after,::before{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
ul,ol{
    list-style: none;
}

.container{
    max-width: calc(1170px/1440px*100%);
    margin: 0 auto;
}
.header{
    background-color: lightblue;
    box-shadow: 0px 3px red;
    padding: 20px 10px;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 700;
        &:last-of-type{
            flex-direction: row;
            gap: 15px;
        }
        &--big{
            font-size: 20px;
        }
        &--white{
            color: white;
        }
    }
}
.main{
    padding: 20px 0;

    &__content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__blocks{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 23%;
    }
}
.lightblue{
    color: lightblue;
}
.blue{
    color: blue;
}
.lightgreen{
    color: lightgreen;
}
.green{
    color: green;
}
.orange{
    color: orange;
}
.brown{
    color: brown;
}
.block{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    &__heading{
        font-size: 20px;
        font-weight: 700;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__command{
        font-weight: 700;
    }
}



.footer{
    background-color: rgb(14, 13, 39);
    padding-top: 40px;
    margin-top: 50px;
    &__text{
        text-align: center;
        color: white;
    }
}